<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <strong>UNDIRA</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src="assets/1.jpg" alt="" width="100" height="">
    <br>
    <ion-button color="primary" expand="block" (click)=hitung()>Hitung</ion-button>
    <ion-button color="warning" expand="block" (click)=coundown()>coundown</ion-button>
    <ion-button color="danger" expand="block" (click)=universitas()>Universitas</ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title style="text-align: center;"> <small>Wiwik Listiyarini 41119051</small> </ion-title>
  </ion-toolbar>
</ion-footer>
